/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

#particles-js {
    z-index: 1000;
}

.particles-js-canvas-el {
    position: absolute;
    z-index: 9999;
}

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
    z-index: 10000;
    animation: float 3s ease-out infinite;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

select#rooms {
    width: 100%;
    margin-bottom: 16px;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: white;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

#input {
    border: 1px solid #7C5CBF;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
}

.room-subtitle {
    padding-bottom: 12px;
    padding-left: 24px;
    background: #2c2f3a;
}

.room-subtitle-text {
    color: white;
    text-decoration: none;
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 0 24px 0 24px;
}

.users {
    width: 250px;
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

.alert-message {
    padding: 5px;
    font-size: small;
    color: gray;
    text-align: center;
}

.message {
    color: white;
}

.message_location {
    color: white !important;
    text-decoration: underline !important;
}

.message-meta {
    max-width: 500px;
}

.user-message-container {
    display: flex;
    justify-content: end;
}

.speech-bubble {
    padding: 10px;
    width: 250px;
	position: relative;
	background: #7c5cbf94;
	border-radius: .4em;
}

.speech-bubble-user {
    padding: 10px;
    width: 250px;
	position: relative;
	background: #7C5CBF;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.375em solid transparent;
	border-right-color: #7c5cbf94;
	border-left: 0;
	margin-top: -0.375em;
	margin-left: -0.375em;
}

.speech-bubble-user:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.375em solid transparent;
	border-left-color: #7C5CBF;
	border-right: 0;
	margin-top: -0.375em;
	margin-right: -0.375em;
}

 /* The sidebar menu */
.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #333744; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    margin-left: 24px;
    width: 25px;
    height: 25px;
    display: none;
    cursor: pointer;
    background-color: #7C5CBF;
    color: white;
    padding: 2.5px;
    border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

.hide {
    display: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

@media screen and (max-width: 650px) {
    #user-template-container {
        position: absolute;
    }

    .openbtn {
        display: inline;
    }

    .chat__messages {
        height: 100vh;
        padding: 24px 24px 0 24px;
        overflow-y: scroll;
    }   
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
